/****** Object:  Table [dbo].[TBL_ADM_CONFIGURATION_TH]    Script Date: 08-Aug-23 8:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADM_CONFIGURATION_TH](
	[config] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[config_value] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
