/****** Object:  Table [dbo].[TBL_ADM_USER_TYPE]    Script Date: 08-Aug-23 8:46:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADM_USER_TYPE](
	[user_type_id] [int] IDENTITY(1,1) NOT NULL,
	[user_type_code] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_type_name] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_date] [datetime] NULL,
	[creator_user_id] [numeric](18, 0) NULL,
	[changed_date] [datetime] NULL,
	[changed_user_id] [numeric](18, 0) NULL,
	[status] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
