/****** Object:  Table [dbo].[TBL_ADM_USER_EVENT]    Script Date: 08-Aug-23 8:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADM_USER_EVENT](
	[user_id] [int] NULL,
	[event_id] [int] NULL
) ON [PRIMARY]

GO
