SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPP_GET_HOLD_ASSIGNMENT_TYPE_TH]  
AS  
BEGIN  
	SELECT TOP 1 [config],[config_value]
	FROM [dbo].[TBL_ADM_CONFIGURATION_TH] WITH (NOLOCK)
	where config = 'TH_HEC_HOLD_ASSIGNMENT_VALUE'
END  
GO
