SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE SPP_MST_SIA_INV_CLEAR_TMP  
 @user_id INT  
AS  
BEGIN  
 SET NOCOUNT ON;  
  
    DELETE FROM TBL_TMP_SIA_INV_UPLOAD WHERE creator_user_id = @user_id  
  
END  
GO
