SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADM_CONFIGURATION](
	[config] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[config_value] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
