SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPP_GET_DDL_HOLD_ASSIGNMENT_LIST]  
AS  
BEGIN  
 SELECT id, type   
 FROM [dbo].[TBL_ADM_HOLD_ASSIGNMENT_LIST] WITH (NOLOCK)
END  
GO
