SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPP_GET_DDL_BIN_NO_BY_SPECIFIC_STORAGE_TYPE]
@storage_type NVARCHAR(50)
AS
BEGIN
	SELECT DISTINCT bin_no 
	FROM [dbo].[TBL_ADM_STORAGE_TYPE_AND_BIN]
	WITH (NOLOCK)
	WHERE storage_type = @storage_type
	ORDER BY bin_no
END
GO
