SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPP_GET_EVENT_MASTER_TABLE_DATA]
AS
BEGIN
	SELECT [event_id]
      ,[event_name]
	  ,[precedence]
	FROM [VAS_TH_HEC].[dbo].[TBL_MST_EVENT_CONFIGURATION_HDR]
	WITH (NOLOCK)
	ORDER BY event_id DESC
END
GO
