SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
      
      
-- ===============================================================================================================================================================================================================      
-- Author:  Smita Thorat      
-- Create date: 2022-05-13      
-- Description: Submit / Approve / Reject / Update header of MLL      
-- Example Query: - exec SPP_MST_MLL_SUBMIT @param=N'{"mll_no":"MLL005300RD00004","mll_status":"Submitted","signature_data":"","start_date":"2018-05-30","end_date":"9999-12-31","submitted_date_ind":1}',@user_id=N'1'      
--      - exec SPP_MST_MLL_SUBMIT @param=N'{"mll_no":"MLL014300RD00008","mll_status":"Approved","start_date":"2018-05-24","end_date":"9999-12-31"}',@user_id=N'1'      
--      - exec SPP_MST_MLL_SUBMIT @param=N'{"mll_no":"MLL009100RD00003","mll_status":" ","start_date":"2018-08-23","end_date":"2018-12-31","mll_desc":"a&#39;b"}',@user_id=N'1'      
--      - exec SPP_MST_MLL_SUBMIT @param=N'{"mll_no":"MLL014301RD00002","mll_status":" ","start_date":"2022-10-05","end_date":"2022-12-31","mll_desc":"MD (CSSC)","mll_change_remarks":"","mll_urgent":"N","department":"D2"}',@user_id=N'8032'      
-- ===============================================================================================================================================================================================================      
      
CREATE PROCEDURE [dbo].[SPP_MST_MLL_SUBMIT]      
 @param NVARCHAR(MAX),      
 @user_id INT      
AS      
BEGIN      
 SET NOCOUNT ON;      
 DECLARE @mll_no VARCHAR(50), @mll_status VARCHAR(50), @mll_desc NVARCHAR(200), @dept_code VARCHAR(50),@client_code VARCHAR(50), @type_of_vas VARCHAR(50), @sub VARCHAR(50), @mll_change_remarks NVARCHAR(200), @mll_urgent VARCHAR(10), @current_qas_no NVARCHAR(200), @revision_no nvarchar(50), @max_revision_no nvarchar(100), @max_revision_no_int INT
 SET @mll_no = (SELECT JSON_VALUE(@param, '$.mll_no'))      
 SET @mll_status = (SELECT JSON_VALUE(@param, '$.mll_status'))      
 SET @mll_desc = (SELECT JSON_VALUE(@param, '$.mll_desc'))      
 SET @mll_change_remarks = (SELECT JSON_VALUE(@param, '$.mll_change_remarks'))      
 SET @mll_urgent = (SELECT JSON_VALUE(@param, '$.mll_urgent'))      
  SET @dept_code = (SELECT JSON_VALUE(@param, '$.department'))      
 SELECT @client_code = client_code, @type_of_vas = type_of_vas, @sub = sub, @current_qas_no = mll_desc FROM TBL_MST_MLL_HDR WITH(NOLOCK) WHERE mll_no = @mll_no   
 
 --declare @dept_code varchar(10)
 --select @dept_code = department from VAS.dbo.TBL_ADM_USER where user_id = @user_id

 declare @product_duplicated_MLL_msg varchar(max) = ''
 
--Added to get Thailand Time along with date
DECLARE @CurrentDateTime AS DATETIME
SET @CurrentDateTime=(SELECT DATEADD(hh, -1 ,GETDATE()) )
--Added to get Thailand Time along with date
          
  
 EXEC REPLACE_SPECIAL_CHARACTER @mll_desc, @mll_desc OUTPUT      
 EXEC REPLACE_SPECIAL_CHARACTER @mll_change_remarks, @mll_change_remarks OUTPUT      

 


  IF @mll_status = 'Submitted'      
 BEGIN   
   
   -- Update Revision Number when QAS Number is updated
 -- How do I know whether it is not changed or updated to the same one? Check Revision Number? Pass in the updated flag? 
	-- Existing MLL Desc is not allowed to be updated, thus if !revision_no, we shall proceed to update Revision Number
 IF (@mll_desc is not null AND @mll_desc <> '')
 BEGIN
	 SELECT @revision_no = revision_no from TBL_MST_MLL_HDR WITH(NOLOCK) where mll_no = @mll_no
	 -- update only if current revision number is empty
	 IF (@revision_no is null or @revision_no = '')
	 BEGIN
		 SELECT @max_revision_no = max(revision_no) from TBL_MST_MLL_HDR WITH(NOLOCK) where client_code = @client_code and sub = @sub and type_of_vas = @type_of_vas and mll_desc = @mll_desc
		 --cast(max(revision_no) as int) from TBL_MST_MLL_HDR WITH(NOLOCK) where client_code = @client_code and sub = @sub and mll_desc = @mll_desc
		 SET @max_revision_no_int = convert(int, @max_revision_no)
		 IF (@max_revision_no is not null and @max_revision_no <> '')-- and @max_revision_no <> 0)
		 BEGIN
			UPDATE TBL_MST_MLL_HDR SET revision_no = RIGHT('00' + cast((@max_revision_no_int + 1) as nvarchar), 3) where mll_no = @mll_no
		 END
		 ELSE
		 BEGIN
			UPDATE TBL_MST_MLL_HDR SET revision_no = '000' where mll_no = @mll_no
		 END
	 END
	 set @revision_no = (select revision_no from TBL_MST_MLL_HDR where mll_no = @mll_no)
 END

 -- End of Revision Number logic
   
  DECLARE @signature_data NVARCHAR(MAX), @submitted_start_date DATETIME, @submitted_end_date DATETIME, @submitted_date_ind INT      
  SET @submitted_start_date = (SELECT JSON_VALUE(@param, '$.start_date'))      
  SET @submitted_end_date = (SELECT JSON_VALUE(@param, '$.end_date'))      
  SET @signature_data = (SELECT JSON_VALUE(@param, '$.signature_data'))      
  SET @submitted_date_ind = (SELECT JSON_VALUE(@param, '$.submitted_date_ind'))      

    -- check product code duplication based on different/same QAS Number
 -- select H.mll_no, D.prd_code into #temp_dup_prd1 
	--from TBL_MST_MLL_HDR H 
	--left join TBL_MST_MLL_DTL D on H.mll_no = D.mll_no
	--where D.mll_no like left (@mll_no, 11) + '%' and H.end_date > @submitted_start_date and H.mll_status = 'Approved'
	--and D.prd_code in (select prd_code from TBL_MST_MLL_DTL where mll_no = @mll_no)

 -- if exists (select 1 from #temp_dup_prd1)
 -- begin
	--select @product_duplicated_MLL_msg = COALESCE(@product_duplicated_MLL_msg + ', ', '') + prd_code from #temp_dup_prd1
	--set @product_duplicated_MLL_msg = 'The validaty end date of below Product Code(s) will be changed after approval: ' + right(@product_duplicated_MLL_msg,  LEN(@product_duplicated_MLL_msg) - 2)
 -- end
 -- drop table #temp_dup_prd1
 
 -- ^ Removed - no need to show this message
        
  -- Submitted date ind = 1 means not auto approved      
  IF @submitted_date_ind = 1      
  BEGIN      
   UPDATE TBL_MST_MLL_HDR      
   SET mll_status = @mll_status,      
    mll_desc = @mll_desc,      
    digital_signature = @signature_data,      
    start_date = @submitted_start_date,      
    end_date = @submitted_end_date,      
    submitted_by = @user_id,    
	--submitted_user_dept_code = @dept_code,
    submitted_date = @CurrentDateTime,       
    mll_change_remarks = @mll_change_remarks,      
    mll_urgent = @mll_urgent 
   WHERE mll_no = @mll_no      

   IF @dept_code<>'' AND @dept_code is not NULL
   BEGIN
      UPDATE TBL_MST_MLL_HDR      SET dept_code=@dept_code  WHERE mll_no = @mll_no      
	END

  END      
      
 END      
 ELSE IF @mll_status = 'Approved'      
 BEGIN      
  DECLARE @start_date DATETIME, @end_date DATETIME      
  SET @start_date = (SELECT JSON_VALUE(@param, '$.start_date'))      
  SET @end_date = (SELECT JSON_VALUE(@param, '$.end_date'))      
        
  IF @start_date < @CurrentDateTime SET @start_date = @CurrentDateTime      

  -- check product code duplication based on different/same QAS Number
  select H.mll_no, D.prd_code into #temp_dup_prd2 
	from TBL_MST_MLL_HDR H 
	left join TBL_MST_MLL_DTL D on H.mll_no = D.mll_no
	where D.mll_no like left (@mll_no, 11) + '%' and H.end_date > @start_date and H.mll_status = 'Approved'
	and D.prd_code in (select prd_code from TBL_MST_MLL_DTL where mll_no = @mll_no)

  if exists (select 1 from #temp_dup_prd2)
  begin
	update TBL_MST_MLL_HDR
	SET end_date = @start_date - 1  , process_flag = 0 
	where mll_no in (select mll_no from #temp_dup_prd2)
  end
      
  UPDATE TBL_MST_MLL_HDR      
  SET end_date = @start_date - 1 , process_flag = 0 
  WHERE client_code = @client_code AND type_of_vas = @type_of_vas AND sub = @sub AND mll_desc = @mll_desc AND end_date > @start_date AND mll_status = 'Approved'      
      
  UPDATE TBL_MST_MLL_HDR      
  SET mll_status = @mll_status,      
   mll_desc = @mll_desc,      
   start_date = @start_date,      
   end_date = @end_date,      
approved_by = @user_id,      
--approved_user_dept_code = @dept_code,
   approved_date = @CurrentDateTime,      
   mll_change_remarks = @mll_change_remarks,      
   mll_urgent = @mll_urgent      
  WHERE mll_no = @mll_no      
      
  -- Insert into Integration table --   --Added radio_val_10 to radio_val_13 for CR -17   
  SELECT A.mll_no, A.prd_code, start_date, end_date,      
  json_value(vas_activities, '$[0].radio_val') as radio_val_1,       
  json_value(vas_activities, '$[1].radio_val') as radio_val_2,       
  json_value(vas_activities, '$[2].radio_val') as radio_val_3,      
  json_value(vas_activities, '$[3].radio_val') as radio_val_4,       
  json_value(vas_activities, '$[4].radio_val') as radio_val_5,       
  json_value(vas_activities, '$[5].radio_val') as radio_val_6,       
  json_value(vas_activities, '$[6].radio_val') as radio_val_7,       
  json_value(vas_activities, '$[7].radio_val') as radio_val_8,       
  json_value(vas_activities, '$[8].radio_val') as radio_val_9,
  json_value(vas_activities, '$[9].radio_val') as radio_val_10,     
  json_value(vas_activities, '$[10].radio_val') as radio_val_11,     
  json_value(vas_activities, '$[11].radio_val') as radio_val_12,       
  json_value(vas_activities, '$[12].radio_val') as radio_val_13, CAST(NULL as VARCHAR(10)) as radio_val      
  INTO #temp_vas_activities_current      
  FROM TBL_MST_MLL_DTL A WITH(NOLOCK)      
  INNER JOIN TBL_MST_MLL_HDR B WITH(NOLOCK) ON A.mll_no = B.mll_no      
  WHERE --A.mll_no = @mll_no      
  B.client_code = @client_code AND B.type_of_vas = @type_of_vas AND B.sub = @sub      
  AND B.mll_status = 'Approved' AND end_date > @CurrentDateTime-- AND end_date < start_date      
      

--Added 10 to 13 for CR -17
  UPDATE #temp_vas_activities_current      
  SET radio_val = CASE WHEN (radio_val_1 IN ('Y','P')      
         OR radio_val_2 IN ('Y','P')      
         OR radio_val_3 IN ('Y','P')      
         OR radio_val_4 IN ('Y','P')      
         OR radio_val_5 IN ('Y','P')      
         OR radio_val_6 IN ('Y','P')      
         OR radio_val_7 IN ('Y','P')      
         OR radio_val_8 IN ('Y','P')      
         OR radio_val_9 IN ('Y','P') 
		 OR radio_val_10 IN ('Y','P')      
		 OR radio_val_11 IN ('Y','P')  
         OR radio_val_12 IN ('Y','P')      
         OR radio_val_13 IN ('Y','P'))   THEN 'Y' ELSE 'N' END      
  
  
  --Added 10 to 13 for CR -17
  UPDATE #temp_vas_activities_current      
  SET radio_val = 'N'    
  Where (radio_val_1 ='P' OR radio_val_2 = 'P' OR radio_val_3 = 'P' 
						  OR radio_val_4= 'P' OR radio_val_5 = 'P' OR radio_val_6 = 'P' OR radio_val_7 = 'P' OR radio_val_8 = 'P' OR radio_val_9 ='P' 
						  OR radio_val_10 ='P' OR radio_val_11 ='P' OR radio_val_12 = 'P' OR radio_val_13 = 'P' )     
        AND (radio_val_1 ='N' OR radio_val_2 = 'N' OR radio_val_3 = 'N' OR     
                             radio_val_4= 'N' OR radio_val_5 = 'N' OR radio_val_6 = 'N' OR radio_val_7 = 'N' OR radio_val_8 = 'N' OR radio_val_9 ='N'
							  OR radio_val_10 ='N' OR radio_val_11 ='N' OR radio_val_12 = 'N' OR radio_val_13 = 'N' )     

     --Added 10 to 13 for CR -17 
  UPDATE #temp_vas_activities_current      
  SET radio_val = 'Y'    
  Where (radio_val_1 ='P' OR radio_val_2 = 'P' OR radio_val_3 = 'P' OR     
                             radio_val_4= 'P' OR radio_val_5 = 'P' OR radio_val_6 = 'P' OR radio_val_7 = 'P' OR radio_val_8 = 'P' OR radio_val_9 ='P'  
							 OR radio_val_10 ='P' OR radio_val_11 ='P' OR radio_val_12 = 'P' OR radio_val_13 = 'P' )     
        AND (radio_val_1 ='Y' OR radio_val_2 = 'Y' OR radio_val_3 = 'Y' OR     
                             radio_val_4= 'Y' OR radio_val_5 = 'Y' OR radio_val_6 = 'Y' OR radio_val_7 = 'Y' OR radio_val_8 = 'Y' OR radio_val_9 ='Y'
							 OR radio_val_10 ='Y' OR radio_val_11 ='Y' OR radio_val_12 = 'Y' OR radio_val_13 = 'Y' )     
        
  -- to be inserted      
  SELECT * INTO #active_material FROM #temp_vas_activities_current WHERE radio_val = 'Y'      
      
    
      
  INSERT INTO VAS_INTEGRATION_TH.dbo.VAS_CONDITIONS (prd_code, start_date, end_date, previous_val, current_val, created_date, process_ind,country)      
  SELECT prd_code, start_date, end_date, 'N', 'Y', @CurrentDateTime, 0,'TH' FROM #active_material      
      
  -- get supercedes approved mll no to find Y -> N      
  DECLARE @supercedes_mll_no VARCHAR(50)      
  SET @supercedes_mll_no = ISNULL((SELECT TOP 1 mll_no FROM TBL_MST_MLL_HDR WITH(NOLOCK) WHERE client_code = ( SELECT substring(@mll_no, 4, 4) ) AND type_of_vas = 'RD' AND sub = (select substring(@mll_no, 8, 2)) AND mll_no < @mll_no AND mll_status = 'Approved' ORDER BY mll_no DESC),'')      
   
   --Added radio_val_10 to radio_val_13 for CR -17   
  SELECT A.mll_no, A.prd_code, start_date, end_date,      
  json_value(vas_activities, '$[0].radio_val') as radio_val_1,       
  json_value(vas_activities, '$[1].radio_val') as radio_val_2,       
  json_value(vas_activities, '$[2].radio_val') as radio_val_3,      
  json_value(vas_activities, '$[3].radio_val') as radio_val_4,       
  json_value(vas_activities, '$[4].radio_val') as radio_val_5,       
  json_value(vas_activities, '$[5].radio_val') as radio_val_6,       
  json_value(vas_activities, '$[6].radio_val') as radio_val_7,       
  json_value(vas_activities, '$[7].radio_val') as radio_val_8,       
  json_value(vas_activities, '$[8].radio_val') as radio_val_9, 
  json_value(vas_activities, '$[9].radio_val') as radio_val_10,   
  json_value(vas_activities, '$[10].radio_val') as radio_val_11,   
  json_value(vas_activities, '$[11].radio_val') as radio_val_12,       
  json_value(vas_activities, '$[12].radio_val') as radio_val_13,   CAST(NULL as VARCHAR(10)) as radio_val      
  INTO #temp_vas_activities_previous      
  FROM TBL_MST_MLL_DTL A WITH(NOLOCK)      
  INNER JOIN TBL_MST_MLL_HDR B WITH(NOLOCK) ON A.mll_no = B.mll_no      
  WHERE A.mll_no = @supercedes_mll_no      
      

--Added 10 to 13 for CR -17 
  UPDATE #temp_vas_activities_previous      
  SET radio_val = CASE WHEN (radio_val_1 IN ('Y','P')      
         OR radio_val_2 IN ('Y','P')      
         OR radio_val_3 IN ('Y','P')      
         OR radio_val_4 IN ('Y','P')      
         OR radio_val_5 IN ('Y','P')      
         OR radio_val_6 IN ('Y','P')      
         OR radio_val_7 IN ('Y','P')      
         OR radio_val_8 IN ('Y','P')      
         OR radio_val_9 IN ('Y','P')
		 OR radio_val_10 IN ('Y','P')      
         OR radio_val_11 IN ('Y','P')      
         OR radio_val_12 IN ('Y','P')      
         OR radio_val_13 IN ('Y','P')) THEN 'Y' ELSE 'N' END     
    

  UPDATE #temp_vas_activities_previous      
  SET radio_val = 'N'    
  Where (radio_val_1 ='P' OR radio_val_2 = 'P' OR radio_val_3 = 'P' OR     
                             radio_val_4= 'P' OR radio_val_5 = 'P' OR radio_val_6 = 'P' OR radio_val_7 = 'P' OR radio_val_8 = 'P' OR radio_val_9 ='P' 
							 OR radio_val_10 ='P' OR radio_val_11 ='P' OR radio_val_12 = 'P' OR radio_val_13 = 'P')     
        AND (radio_val_1 ='N' OR radio_val_2 = 'N' OR radio_val_3 = 'N' OR     
                             radio_val_4= 'N' OR radio_val_5 = 'N' OR radio_val_6 = 'N' OR radio_val_7 = 'N' OR radio_val_8 = 'N' OR radio_val_9 ='N'
							  OR radio_val_10 ='N' OR radio_val_11 ='N' OR radio_val_12 = 'N' OR radio_val_13 = 'N' )     
    
  UPDATE #temp_vas_activities_previous      
  SET radio_val = 'Y'    
  Where (radio_val_1 ='P' OR radio_val_2 = 'P' OR radio_val_3 = 'P' OR     
                             radio_val_4= 'P' OR radio_val_5 = 'P' OR radio_val_6 = 'P' OR radio_val_7 = 'P' OR radio_val_8 = 'P' OR radio_val_9 ='P' 
							 OR radio_val_10 ='P' OR radio_val_11 ='P' OR radio_val_12 = 'P' OR radio_val_13 = 'P' )     
        AND (radio_val_1 ='Y' OR radio_val_2 = 'Y' OR radio_val_3 = 'Y' OR     
                             radio_val_4= 'Y' OR radio_val_5 = 'Y' OR radio_val_6 = 'Y' OR radio_val_7 = 'Y' OR radio_val_8 = 'Y' OR radio_val_9 ='Y' 
							  OR radio_val_10 ='Y' OR radio_val_11 ='Y' OR radio_val_12 = 'Y' OR radio_val_13 = 'Y' )     
    
  -- Y -> N      
  INSERT INTO VAS_INTEGRATION_TH.dbo.VAS_CONDITIONS (prd_code, start_date, end_date, previous_val, current_val, created_date, process_ind,country)      
  SELECT prd_code, start_date, end_date, 'Y', 'N', @CurrentDateTime, 0,'TH' FROM #temp_vas_activities_previous A WHERE radio_val = 'Y' AND prd_code NOT IN (SELECT prd_code FROM #active_material)      
      
  DROP TABLE #temp_vas_activities_previous      
  DROP TABLE #active_material 
  drop table #temp_dup_prd2
      
 END      
 ELSE IF @mll_status = 'Rejected'      
 BEGIN      
  DECLARE @rejection_reason NVARCHAR(150)      
  SET @rejection_reason = (SELECT JSON_VALUE(@param, '$.rejection_reason'))      
      
  UPDATE TBL_MST_MLL_HDR      
  SET mll_status = 'Rejected',      
   mll_desc = @mll_desc,      
   rejection_reason = @rejection_reason,      
   rejected_by = @user_id,     
   --rejected_user_dept_code = @user_id,
   rejected_date = @CurrentDateTime      
  WHERE mll_no = @mll_no      
 END      
 ELSE IF @mll_status = ' '      
 BEGIN      
  SET @mll_status = 'Updated header'      
  DECLARE @selected_start_date DATETIME, @selected_end_date DATETIME      
  SET @selected_start_date = (SELECT JSON_VALUE(@param, '$.start_date'))      
  SET @selected_end_date = (SELECT JSON_VALUE(@param, '$.end_date'))      
      
  UPDATE TBL_MST_MLL_HDR      
  SET start_date = (SELECT working_day FROM dbo.[TF_COR_GET_WORKING_DAYS](@selected_start_date, 0)), --avoid starting date is on weekend      
   end_date = @selected_end_date,      
   mll_desc = @mll_desc,      
   mll_change_remarks = @mll_change_remarks,      
   mll_urgent = @mll_urgent   
  WHERE mll_no = @mll_no   
  
    IF @dept_code<>'' AND @dept_code is not NULL
   BEGIN
  
    UPDATE TBL_MST_MLL_HDR      SET dept_code=@dept_code  WHERE mll_no = @mll_no      
	END

 END      
      
 IF @mll_status <> ' '   
 begin
  INSERT INTO TBL_ADM_AUDIT_TRAIL      
  (module, key_code, action, action_by, action_date)      
  SELECT 'MLL', @mll_no, @mll_status, @user_id, @CurrentDateTime      
   
 --   IF @mll_status <> 'Approved' 
	--begin
 EXEC SPP_MST_MLL_EMAIL @mll_status, @mll_no, @user_id  
 --end

 end
 

 IF @mll_status = 'Approved' 
 BEGIN
	 --DECLARE @VAS_Insert CHAR(1),@VAS_Readdress CHAR(1),@VAS_Inject CHAR(1),@VAS_Others CHAR(1)

	 --SELECT @VAS_Insert = radio_val_6,@VAS_Readdress = radio_val_7,@VAS_Inject = radio_val_8,@VAS_Others =radio_val_9 
	 --FROM #temp_vas_activities_current 
	 --WHERE mll_no = @mll_no

	-- IF(@VAS_Insert  ='Y' OR @VAS_Readdress  ='Y' OR @VAS_Inject  ='Y' OR @VAS_Others  ='Y')
	-- BEGIN
	-- print '1'
	-- DECLARE @tab char(1) = CHAR(9)
	--EXEC [SPP_SEND_EMAIL_QA] @mll_no,@client_code
	
	-- END
	 DROP TABLE #temp_vas_activities_current  
 END  

 --if (@product_duplicated_MLL_msg <> '')
 --begin
	---- used for duplicated prd code in different MLLs with different QAS Number
	--select @product_duplicated_MLL_msg
 --end
 --else 
 --begin
	--SELECT '1'      
 --end

 SELECT @revision_no as revision_no
END
GO
