SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPP_ADM_CONFIG_EXPORT_TEMPLATE_STORAGE_TYPE_AND_BIN]
AS
BEGIN
	CREATE TABLE #TEMPLATE_COL
	(
		display_name VARCHAR(50),
		input_name VARCHAR(50)
	)

	SELECT * FROM #TEMPLATE_COL
	UNION ALL
	SELECT 'Warehouse No', 'warehouse_no'
	UNION ALL
	SELECT 'Storage Type', 'storage_type'
	UNION ALL
	SELECT 'Bin No', 'bin_no'

	DROP TABLE #TEMPLATE_COL
END

GO
