SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPP_GET_MASTER_ACTIVITY]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT id, [type], [Activity], [description], [status] 
	FROM TBL_MST_ACTIVITY_LISTING
	WITH (NOLOCK)
	ORDER BY [type] DESC, id ASC

	SELECT COUNT(*) AS ttl_rows FROM TBL_MST_ACTIVITY_LISTING
END
GO
