SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MST_MATGRP](
	[PrdGrp4] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL CONSTRAINT [DF__TBL_MST_MATGRP__PrdGr__7E02B4CC]  DEFAULT (''),
	[PrdGrpDesc4] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL CONSTRAINT [DF__TBL_MST_MATGRP__PrdGr__7EF6D905]  DEFAULT ('')
) ON [PRIMARY]

GO
