SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_SPLIT_PPM_PRD](
	[num] [int] NULL,
	[vas_activity_num] [int] NULL,
	[prd_code] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[check_ppm] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
