SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_MLL_DTL](
	[mll_no] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[prd_code] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reg_no] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[21] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[23] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[24] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[25] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[27] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[28] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[29] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[30] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[2093] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[remarks] [nvarchar](300) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[storage_cond] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
