/****** Object:  StoredProcedure [dbo].[SPP_ADM_USER_ACCESSRIGHT_UPDATE]    Script Date: 08-Aug-23 8:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPP_ADM_USER_ACCESSRIGHT_UPDATE]
	@userid_list			VARCHAR(MAX),
	@accessright_id_list	VARCHAR(MAX)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * INTO #LOGIN FROM SF_SPLIT(@userid_list,',','''')
	SELECT * INTO #ACCESSRIGHT FROM SF_SPLIT(@accessright_id_list,',','''')

	DECLARE @user_id	VARCHAR(10)
	SET @user_id = (SELECT DISTINCT Data FROM #LOGIN WITH(NOLOCK))

	IF @accessright_id_list = ' '
	BEGIN
		DELETE FROM TBL_ADM_USER_ACCESSRIGHT WHERE user_id = @user_id
	END
	ELSE
	BEGIN
		DELETE FROM TBL_ADM_USER_ACCESSRIGHT WHERE user_id = @user_id

		INSERT INTO TBL_ADM_USER_ACCESSRIGHT
		(user_id, accessright_id, status)
		SELECT T1.Data, T2.Data, 'A' FROM #LOGIN T1 WITH(NOLOCK) 
		INNER JOIN #ACCESSRIGHT T2 WITH(NOLOCK) ON T1.Id = T2.Id
	END

	DROP TABLE #LOGIN
	DROP TABLE #ACCESSRIGHT
END
GO
