SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPP_SAP_MASTER_BULK_IMPORT]
WITH EXECUTE AS CALLER
AS
-- DROP PROCEDURE UpdPrdUOM

	DECLARE @TranName VARCHAR(20)
	DECLARE @fileName VARCHAR(20)

	--BEGIN

	--SELECT @TranName = 'MyTransaction'
	--BEGIN TRANSACTION @TranName

	
	 IF OBJECT_ID('TEMPDB..#DIRECTORYTREE') IS NOT NULL
     DROP TABLE #DIRECTORYTREE;
	 CREATE TABLE #DIRECTORYTREE (ID INT IDENTITY(1,1),SUBDIRECTORY NVARCHAR(512),DEPTH INT,ISFILE BIT);

	INSERT #DIRECTORYTREE (SUBDIRECTORY,DEPTH,ISFILE)
	EXEC MASTER.SYS.XP_DIRTREE 'D:\VAS\MY-HEC',1,1;



	 /*-----------------------------------------------------------M_PersonnelSLOC-----------------------------------------------------*/
	 
	 DECLARE @COUNT_FILE INT, @COUNT_TMP INT
     
	 SELECT @COUNT_FILE = COUNT(ID) FROM #DIRECTORYTREE
     WHERE SUBDIRECTORY like 'M_NSKU_CLASS.txt'
 
     IF @COUNT_FILE > 0
     BEGIN

		 TRUNCATE TABLE TMP_M_NSKU_CLASS
		 BULK INSERT TMP_M_NSKU_CLASS 
		 FROM 'D:\VAS\MY-HEC\M_NSKU_CLASS.txt'
		 WITH
		(FIELDTERMINATOR = '\t',
		--ROWTERMINATOR = '\r\n',
		--DATAFILETYPE = 'widechar', -- Wanna
		 FIRSTROW=2)

		 SELECT @COUNT_TMP = COUNT(prdcode) 
		 FROM TMP_M_NSKU_CLASS

		 IF @COUNT_TMP > 0
		 BEGIN

		 TRUNCATE TABLE M_NSKU_CLASS
		 INSERT INTO M_NSKU_CLASS
		 SELECT * FROM TMP_M_NSKU_CLASS
		 --select * from M_NSKU_CLASS

		 END

	END
		  /*-----------------------------------------------------------NSKU_2-----------------------------------------------------*/
	 
	 DECLARE @COUNT_NSKU2 INT, @COUNT_TMP_NSKU2 INT
     
	 SELECT @COUNT_NSKU2 = COUNT(ID) FROM #DIRECTORYTREE
     WHERE SUBDIRECTORY like 'NSKU2.txt'
 
     IF @COUNT_NSKU2 > 0
     BEGIN

		 TRUNCATE TABLE TMP_M_NSKU2
		 BULK INSERT TMP_M_NSKU2 
		 FROM 'D:\VAS\MY-HEC\NSKU2.txt'
		 WITH
		(FIELDTERMINATOR = '\t',
		--ROWTERMINATOR = '\r\n',
		--DATAFILETYPE = 'widechar', -- Wanna
		 FIRSTROW=2)

		 SELECT @COUNT_TMP_NSKU2 = COUNT(prdcode) 
		 FROM TMP_M_NSKU2

		 IF @COUNT_TMP_NSKU2 > 0
		 BEGIN

		 TRUNCATE TABLE M_NSKU2
		 INSERT INTO M_NSKU2
		 SELECT * FROM TMP_M_NSKU2
		 --select * from M_NSKU2

		 END



     END
		


	
	



GO
