SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPP_GET_DDL_STORAGE_TYPE]
AS
BEGIN
	SELECT DISTINCT storage_type 
	FROM [dbo].[TBL_ADM_STORAGE_TYPE_AND_BIN]
	WITH (NOLOCK)
	ORDER BY storage_type
END

GO
